<div id="random-full-width-content" class="this-div-is-just-a-helpful-container" style = "padding-top: 150px; padding-left: 10px;">

  <h1>Edit student</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @student %> |
  <%= link_to 'Back', students_path %>
</div>
